* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:root {
	--primary: #25323a;
	--secondary: #736e84;
	--active: #6cc2b7;
	--heebo: "Heebo", sans-serif;
	--roboto: "Roboto", sans-serif;
	--montserrat: "Montserrat", sans-serif;
}

ul,
ol,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}

@-webkit-keyframes animatetop {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

nav {
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	background-color: #fff;
	z-index: 10;
	height: 80px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	padding: 0 50px;
}

.nav_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1190px;
	margin: 0 auto;
}

nav img {
	width: 150px;
	height: 70px;
}

.links_list {
	width: auto;
	display: flex;
	justify-content: center;
	list-style: none;
}

.links_list li a {
	text-decoration: none;
	margin-left: 30px;
	font-size: 18px;
	font-weight: 700;
	color: var(--secondary);
}

.links_list li a:hover {
	color: var(--primary);
}

@media (max-width: 650px) {
	nav {
		padding: 0 15px;
		padding-left: 0;
	}
}

@media (max-width: 650px) {
	nav .links_list {
		position: absolute;
		right: 0px;
		box-sizing: border-box;
		padding: 20px 0;
		width: 160px;
		top: 8vh;
		background-color: #ffffff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: -webkit-transform 500ms ease-in;
		transition: -webkit-transform 500ms ease-in;
		transition: transform 500ms ease-in;
		transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
	}
	/* nav .low_nav .low_nav_list .low_nav_item {
    opacity: 0;
  } */
}

nav .burger {
	display: none;
	cursor: pointer;
}
@media (max-width: 650px) {
	nav .burger {
		display: block;
	}
	nav .low_nav .low_nav_list .low_nav_item {
		margin-left: 0;
		display: block;
		margin-top: 20px;
	}
}
nav .burger div {
	width: 30px;
	height: 3px;
	background-color: var(--primary);
	margin: 5px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
nav .nav-active {
	-webkit-transform: translateX(0%) !important;
	transform: translateX(0%) !important;
	border: 1px solid gray;
}
nav .toggle .line1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 6px);
	transform: rotate(-45deg) translate(-5px, 6px);
}
nav .toggle .line2 {
	opacity: 0;
}
nav .toggle .line3 {
	-webkit-transform: rotate(45deg) translate(-5px, -6px);
	transform: rotate(45deg) translate(-5px, -6px);
}

@-webkit-keyframes navLinkFade {
	0% {
		opacity: 0.8;
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@keyframes navLinkFade {
	0% {
		opacity: 0.5;
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}
@-webkit-keyframes navLinkInFade {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
}
@keyframes navLinkInFade {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
}
@media (max-width: 650px) {
	body {
		overflow-x: hidden;
	}
}
.hero {
	padding: 100px 90px 100px 90px;
}

.hero .hero_content {
	width: 100%;
	margin: 0 auto;
	max-width: 1190px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero_text_block {
	width: 500px;
}

.hero_text_block h1 {
	width: 420px;
	font-size: 48px;
	font-family: var(--roboto);
	color: var(--primary);
}

.hero_text_block p {
	font-size: 24px;
	color: var(--secondary);
	margin-top: 30px;
}

.hero_text_block .hero_btn {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 50px;
	margin-top: 30px;
	color: #fff;
	background-color: var(--active);
	border-radius: 4px;
	border: none;
	font-size: 18px;
	font-weight: 700;
	transition: all 0.25s ease-in-out;
}

.hero_text_block .hero_btn:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	opacity: 0.9;
	cursor: pointer;
}

.hero img {
	width: 600px;
	height: 450px;
}

.intro_section {
	width: 100%;
	margin: 0 auto 80px;
	max-width: 1100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.intro_section img {
	width: 500px;
	height: 375px;
}
